// Import SCSS Modules
@import "../modules/mixins";
@import "../modules/variables";
@import "../modules/keyframes";

// Remove Browser Default Styling and add a box-szing of border-box
* {
  @include default;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  @include flex(column, flex-start, center);
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, $secondary, $highlight);
}

header {
  width: 100%;
  background-color: rgb(51, 51, 51);
  border-bottom: 1px solid $primary;
  @include flex(row, space-between, center);

  .logo-burger {
    @include flex(row, space-between, center);
    width: 100%;
    padding: 0 15%;
    color: $textColor;
    font-size: 1.5em;

    .fa-bars {
      display: none;
    }

    .logo {
      a {
        color: $textColor;
        text-decoration: none;
      }
    }
  }

  nav {
    width: 100%;
    text-align: center;

    .nav-links {
      list-style: none;
      @include flex(row, space-around, center);

      li {
        padding: 0.3em 0;
      }

      .nav-link {
        width: 100%;
        text-decoration: none;
        font-size: 1em;
        color: $textColor;

        &:hover {
          color: white;
        }
      }
    }
  }
}

// Main
main {
  @include flex(column, flex-start, center);
  h1 {
    color: $textColor;
    margin: 1% 0;
    font-size: 4em;
  }

  .project {
    @include flex(column, space-around, center);
    background-color: white;
    width: 60%;
    border-radius: 0.5em;
    margin-bottom: 5%;

    .project-image {
      width: 98%;
      margin: 1% 1% 2% 1%;
      border-radius: 0.5em;
    }

    .project-name {
      font-size: 2em;
    }

    .project-description {
      font-size: 1.5em;
      width: 80%;
      margin-bottom: 5%;

      a {
        display: block;
        border: 1px solid black;
        text-decoration: none;
        text-align: center;
        width: 50%;
        margin: 5% auto auto auto;
        color: black;
        border-radius: 0.5em;

        &:hover {
          border: 1px solid #363636;
          color: #252525;
        }
      }
    }
  }
}

footer {
  width: 100%;
  background-color: rgb(58, 58, 58);
  color: gray;
  .footer-links {
    width: 100%;
    @include flex(row, space-around, center);
    list-style: none;
  }

  .footer-link {
    color: gray;
    text-decoration: none;
    font-size: 0.8em;
  }

  .copyright {
    font-size: 0.8em;
    margin-left: 3%;
  }
}

@media only screen and (max-width: 786px) {
  // Header

  header {
    width: 100%;
    background-color: rgb(51, 51, 51);
    border-bottom: 1px solid $primary;
    @include flex(column, space-between, center);

    .logo-burger {
      @include flex(row, space-between, center);
      width: 100%;
      padding: 0 15%;
      color: $textColor;
      font-size: 1.3rem;

      .fa-bars {
        display: block;
      }
    }

    nav {
      width: 100%;
      text-align: center;
      display: none;

      .nav-links {
        @include flex(column, center, center);
        list-style: none;

        li {
          padding: 0.3em 0;
        }

        .nav-link {
          width: 100%;
          text-decoration: none;
          font-size: 0.8em;
          color: $textColor;
        }
      }
    }
  }

  // Main
  main {
    @include flex(column, flex-start, center);
    h1 {
      color: $textColor;
    }

    .project {
      @include flex(column, space-around, center);
      background-color: white;
      width: 80%;
      border-radius: 0.5em;
      margin-bottom: 5%;

      .project-image {
        width: 98%;
        margin: 1% 1% 2% 1%;
        border-radius: 0.5em;
      }

      .project-description {
        font-size: 0.7em;
        width: 80%;
        margin-bottom: 5%;

        a {
          display: block;
          border: 1px solid black;
          text-decoration: none;
          text-align: center;
          width: 50%;
          margin: 5% auto auto auto;
          color: black;
          border-radius: 0.5em;

          &:hover {
            border: 1px solid #363636;
            color: #252525;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: rgb(58, 58, 58);
    color: gray;
    .footer-links {
      width: 100%;
      @include flex(row, space-around, center);
      list-style: none;
    }

    .footer-link {
      color: gray;
      text-decoration: none;
      font-size: 0.8em;
    }

    .copyright {
      font-size: 0.8em;
      margin-left: 3%;
    }
  }
}
